<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <!--jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li style="align-self: flex-start;">
                <h2>Logo</h2>
            </li>
            <li style="align-self: flex-end;">
                <button class="btn" style="width: 150px;" onclick="loginChng()"> Upload Lost </button>
            </li>
        </ul>
    </div>
    <div class="container" id="search">
        <form method="POST" enctype="multipart/form-data" id="search">
            <p class="head">Lost Something?</p>
            <p class="desc">Input your image below:</p>
            <div style="width: 100%;">
                <input type="file" name="query_img">
            </div>
            <input type="submit" class="btn" style="margin-top: 10%;" onclick="showResults()">
            <a href="login.html" style="text-decoration: none;"><p class="desc1">Looking to upload a lost item ?</p></a>
        </form>
    </div>
    <div class="resultcard" id="results" style="display: none;">
        <p class="head">We found these</p>
        <p class="desc">Your query image:</p>
        {% if query_path %}
            <figure class="imgBx">
                <img src="{{ query_path }}" alt="Query Image">
                <figcaption>Your input image</figcaption>
            </figure>
            {% endif %}
        <p class="desc">Matching results:</p>
<div class="class-img" style="display: inline;">
        {% for score in scores %}
            <figure class="imgBx">
                <img src="{{ score[1] }}" alt="Similar Image">
                <figcaption>{{ score[0] }}</figcaption>
                </figure>
        {% endfor %}
    </div>
        </div>
    </div>

    <script>
        function loginChng(){
            window.location.href="login.html";
        };
        function showResults(){
            document.getElementById("search").style.display = "none";
            document.getElementById("results").style.display = "block";
        };
    </script>
</body>
</html>