<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <!--jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body style="height: 100vh;">
    <div class="navbar">
        <ul>
            <li style="align-self: flex-start;">
                <a href="index.html" style="text-decoration: none; color: #ffffff;">
                <h2>Lost and Found</h2>
            </a>
            </li>
            <!-- <li style="align-self: flex-end;">
                <button class="btn" style="width: 150px;" onclick="loginChng()"> Hotel Login </button>
            </li> -->
        </ul>
    </div>
    <div class="cardLogin">
        <form>
            <p class="head">Found Something?</p>
            <p class="desc">Enter the details below:</p>
            <div class="inp-cont">
                <input  type="text">
                <label class="inp-label" >Room No</label>
              </div>
              <div class="inp-cont">
                <input  type="text">
                <label class="inp-label" >Store No</label>
              </div>
              <div class="inp-cont">
                <input  type="text">
                <label class="inp-label" >Rack No</label>
              </div>
            <div style="width: 100%;">
                <input type="file" name="query_img">
            </div>
            <input type="submit" class="btn" style="margin-top: 10%;">
        </form>
    </div>
</body>
<script src="script.js"></script>
</html>